.header {
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    background-color: black;
    background: linear-gradient(#f6d4b7, 35%, #f4efeff7);
}

.header div {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.link {
    padding: 0px;
    padding-top: 25px;
    font-family: poppins, sans-serif;
}

.header div div a {
    /*Mudança de cor nos links do Header*/
    color: #98512B;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.header div div a:hover {
    /*Mudança de cor quando passar o mouse em cima dos links do Header*/
    color: #d7906a;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.logo {
    height: 110px;
    margin: 0px;
    margin-top: 5px;
}


/*Header Dash*/
.header_dash {
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    background-color: black;
    background: linear-gradient(#f6d4b781, 85%, #f6d4b725);
}

.header_dash div {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.link {
    padding: 0px;
    padding-top: 25px;
    font-family: poppins, sans-serif;
}

.header_dash div div a {
    /*Mudança de cor nos links do Header*/
    color: #98512B;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.header_dash div div a:hover {
    /*Mudança de cor quando passar o mouse em cima dos links do Header*/
    color: #d7906a;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.logo {
    height: 110px;
    margin: 0px;
    margin-top: 5px;
}

/*Home Header*/
.home_header {
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    background: linear-gradient(#f6d4b7, 35%, #f4efeff7);
    position: fixed;
}

.home_header div {
    display: flex;
    justify-content: space-around;
    height: 10%;
}

.link_home {
    padding: 10px;
    padding-top: 2%;
}

.home_header div div a {
    /*Mudança de cor nos links do Header*/
    color: #98512B;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.home_header div div a:hover {
    /*Mudança de cor quando passar o mouse em cima dos links do Header*/
    color: #d7906a;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.logo {
    height: 150px;
    margin-top: -13%;
}

/*Cadastro Header*/
.cadastro_header {
    width: 98.5%;
    height: 80px;
    align-items: center;
    text-align: center;
    background: linear-gradient(#f6d4b7, 35%, #f4efeff7);
}

.cadastro_header div {
    display: flex;
    justify-content: space-around;
    height: 10%;
}

.cadastro_header {
    padding: 10px;
    padding-top: 2%;
}

.cadastro_header div div a {
    /*Mudança de cor nos links do Header*/
    color: #98512B;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.cadastro_header div div a:hover {
    /*Mudança de cor quando passar o mouse em cima dos links do Header*/
    color: #d7906a;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.cadastro_header .logo {
    height: 150px;
    margin-top: -13%;
}


/* Barra de navegação lateral das Dashboards */
.barraLateral {
    padding-top: 15px;
}

.barraLateral .botao {
    background: #98512B;
    border: 5px solid #8f4b27;
    color: #F2C197;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.barraLateral h2 {
    font-weight: bold;
    text-align: center;
    color: #F2C197;
    font-size: 16px;
}



/*Tela de Cadastro*/
.cadastro {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4efefee;
    color: #7d482c;
    /*background-image: url(img/fundoCogumelo.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.cadastro .cartaoSelecao {
    background-color: #f2c1976a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 370px;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
}

.cadastro .cartaoSelecao h2 {
    color: #7d482c;
    margin: 0px;
}

.cadastro .cartaoSelecao h3 {
    margin: 0px;
    margin-bottom: 15px;
    color: #7d482c;
    font-size: 15px;
}

.cadastro .cartaoSelecao select {
    width: 200px;
    padding: 10px 0px;
    margin-bottom: 3px;
    background: #e6a56c8d;
    border: 2px solid #e6a56c8d;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    color: #7d482c;
}

.cadastro .cartao{
    background-color: #f2c1976a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.cadastro .cartao button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #98512B;
    border: 1px solid #98512B;
    color: #F2C197;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cadastro .cartao button:hover{
    color: #ffffff;
    background: #80350F;
}

.cadastro .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d482c;
    font-weight: bold;
    align-items: flex-start;
}

.cadastro .campo input {
    width: 200px;
    padding: 10px 0px;
    background: #e6a56c8d;
    border: 2px solid #e6a56c8d;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    color: #7d482c;
}

.cadastro .campo ::placeholder{
    color: #7d482c;
}

.cadastro .campoNumero ::placeholder{
    color: #7d482c;
}

.cadastro .campoNumero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d482c;
    font-weight: bold;
    align-items: flex-start;
}

.cadastro .campoNumero input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cadastro .campoNumero input {
    width: 200px;
    padding: 10px 0px;
    background: #e6a56c8d;
    border: 2px solid #e6a56c8d;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    color: #7d482c;
}

.cadastro .aviso {
    display: flex;
    justify-content: flex-start;
    color: #b33322;
    font-size: 11px;
    margin: 0px;
    font-weight: bold;
}

.cadastro .final {
    display: flex;
    justify-content: center;
    color: #135210;
    font-size: 15px;
    margin: 0px;
    font-weight: bold;
}


/*Tela de Login*/
.login {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4efefee;
    color: #7d482c;
    /*
    background-image: url(img/fundoCogumelo.png);
    background-repeat: no-repeat;
    background-size: 100%; */
}

.login .tela{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 510px;
    margin: 0px;
}

.login .cartao {
    background-color: #f2c1976a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 370px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
}

.login .cartao h2 {
    color: #7d482c;
    margin: 10px;
}


.login .cartao button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #98512B;
    border: 1px solid #98512B;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.login .cartao button:hover{
    color: #ffffff;
    background-color: #80350F;
}

.login .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d482c;
    font-weight: bold;
    align-items: flex-start;
}

.login .campo input {
    width: 200px;
    padding: 10px 0px;    
    background: #e6a56c8d;
    border: 2px solid #e6a56c8d;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.login .campoNumero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d482c;
    font-weight: bold;
    align-items: flex-start;
}

.login .campo ::placeholder{
    color: #7d482c;
}

.login .campoNumero ::placeholder{
    color: #7d482c;
}

.login .campoNumero input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.login .campoNumero input {
    width: 200px;
    padding: 10px 0px;
    background: #e6a56c8d;
    border: 2px solid #e6a56c8d;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.login .aviso {
    display: flex;
    justify-content: flex-start;
    color: #b43321;
    font-size: 11px;
    margin: 0px;
    font-weight: bold;
}




/*Tela de Simulador*/
.simulador {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    background-color: #f4efefee;
    color: #7d482c;
    background-repeat: no-repeat;
    background-size: 100%;
}

.simulador .calculadora {
    max-width: 600px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.simulador .calculadora {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.simulador .calculadora h1 {
    color: #7d482c;
}

.simulador .calculadora input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    background: #e6a56c8d;
    border: 1px solid #e6a56c8d;
}

.simulador .calculadora button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #98512B;
    border: 1px solid #98512B;
    color: #F2C197;
    font-size: 16px;
    transition: all 200ms linear;
    cursor: pointer;
}

.simulador .calculadora button:hover{
    color: #ffffff;
    background: #80350F;
}

.simulador .calculadora ::placeholder{
    font-family: poppins, sans-serif;
    color: #8e5c42;
}

.simulador .mensagem {
    max-width: 80%;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.simulador .mensagem h3{
    text-align: center;
    color: #7d482c;
}

.simulador .mensagem .msg1{
    background-color: #f2c19734;
    border-radius: 5px;
    width: 280px;
    text-align: center;
    padding-left: 10px;
    color: #8e5c42;
    font-size: 16px;
    border: rgb(53, 19, 1) 2px solid;
}

.simulador .mensagem .msg2{
    background-color: #f2c19734;
    border-radius: 5px;
    width: 280px;
    font-size: medium;
    text-align: center;
    color: #8e5c42;
    border: rgb(53, 19, 1) 2px solid;
}

.simulador .mensagem .msg3{
    background-color: #f2c19734;
    border-radius: 5px;
    border: rgb(53, 19, 1) 2px solid;
    width: 280px;
    font-size: medium;
    text-align: center;
    color: #8e5c42;
    padding-left: 10px;
}

.simulador .mensagem .msg4{
    background-color: #f2c19734;
    border-radius: 5px;
    width: 280px;
    font-size: medium;
    text-align: center;
    color: #8e5c42;
    padding-left: 10px;
    border: rgb(53, 19, 1) 2px solid;
}

.simulador .resultado {
    margin-top: -55px;
    display: none;
    border: 1px solid #f2c1976a;
    border-radius: 5px;
    background-color: #f2c1974f;
    align-items: center;
    padding: 20px;

}

.simulador .positivo {
    color: #458e44;
}

.simulador .negativo {
    color: #ca311c;
}



/* Tela das Dashboard */

.dashboard {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: #e8baa11d;
    color: #7d482c;
}

.dashboard .tela {
    display: grid;
    grid-template-columns: 20rem auto;
    width: 100%;
    font-size: small;
    padding: 0px;
}

/* Barra de Alertas Lateral das dashboards*/
.dashboard .lateral {
    background-color: #9d471c;
    height: 100%;
    width: 105%;
    margin-bottom: 0px;
}

.dashboard .lateral img {
    width: 80px;
    margin-right: 8px;
}

.dashboard .tituloAlerta {
    padding: 1px;
    color: #f2c7b2;
    border-bottom: 1px solid #F2C197;
}

.dashboard .textoAlerta {
    color: #f0eff5;
}

.dashboard .alerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 1px solid #f0eff5;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
    background-color: #5d22054e;
}

.dashboard .ultimoAlerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
    background-color: #5d2205;
}

.dashboard .alerta:hover {
    background-color:#b56239;
    cursor: pointer;
}

.dashboard .ultimoAlerta:hover {
    background-color:#b56239;
    cursor: pointer;
}

.dashboard .botaoAlerta {
    text-decoration: none;
    color: #f2c7b2;
}

/* Centro da tela de dashboards */
.dashboard .tituloPrincipal h1 {
    text-align: center;
    margin: 0px;
    height: 40px;
}

.dashboard .linha {
    display: flex;
    justify-content: space-around;
}

.dashboard .linha h2 {
    color: #fff;
    text-align: center;
}

.dashboard .card {
    grid-template-columns: 1fr 1fr;
    display: flex;
}

.dashboard .card1 {
    background-color: #9c2e20d4;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #8b281b4a;
}

.dashboard .card2 {
    background-color: #d8a721a4;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #d8a721a7;
}

.dashboard .card3 {
    background-color: #458e44c7;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #458e44;
}



/* Tela de Alertas */

.alerta {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: #e8baa170;
}

.alerta .tela {
    display: grid;
    grid-template-columns: 22rem auto;
    height: 556px;
}

.alerta h2 {
    text-align: center;
    color: #F2C197;
    font-size: 16px;
}

.alerta h3 {
    text-align: center;
    color: #7d482c;
    font-size: 16px;
}

.alerta .grafico {
    display: flex;
    flex-direction: column;
    width: 810px;
    margin: 0px;
    margin-top: 1px;
    margin-left: 150px;
    margin-bottom: 20px;
}



/* Tela da Média*/
.media {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: #e8baa170;
}

.media .tela {
    display: grid;
    grid-template-columns: 22rem auto;
    height: 556px;
}

.media h2 {
    text-align: center;
    color: #e9c7a9;
    font-size: 16px;
}

.media h3 {
    text-align: center;
    color: #7d482c;
    font-size: 16px;
}

.media .informacao {
    background-color: #8D431E;
    height: 43px;
    margin: 10px;
    margin-top: 43px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 3px solid #80350F;
}

.media .informacao h4 {
    text-align: center;
    color: #e9c7a9;
    margin-top: 2%;
    font-size: 16px;
}

.media h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #e8baa170;
    width: 950px;
    color: #7d482c;
}

.media .grafico {
    padding-right: 50px;
    padding-left: 50px;
    width: 423px;
}

.media .centro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



/* Tela da Temperatura */
.temperatura {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: #e8baa170;
    color: #7d482c;
}

.temperatura .tela {
    display: grid;
    grid-template-columns: 22rem auto;
    height: 556px;
}

.temperatura .tela h1 {
    background-color: #e8baa170;
    width: 970px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #7d482c;
}

.temperatura .linha {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-bottom: 22px;
}

.temperatura .grafico {
    width: 252px;
    padding-right: 80px;
}

.temperatura .grafico h2 {
    text-align: center;
    color: #7d482c;
    text-align: center;
    font-size: 16px;
}



/* Tela da Umidade */
.umidade {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: #e8baa170;
}

.umidade .tela {
    display: grid;
    grid-template-columns: 22rem auto;
    height: 556px;
}

.umidade .tela h1 {
    background-color: #e8baa170;
    width: 970px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #7d482c;
}

.umidade .linha {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-bottom: 22px;
}

.umidade .grafico {
    width: 252px;
    padding-right: 80px;
}

.umidade .grafico h2 {
    text-align: center;
    color: #7d482c;
    text-align: center;
    font-size: 16px;
}



/* Tela Home */

/*Banner*/
.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-color: #000000;
    background-image: url("https://www.otamotfoods.com/cdn/shop/articles/mushroom_feature_2048x.jpg?v=1632846469");
    background-repeat: no-repeat;
    background-size: 100%;
   /* -webkit-text-stroke-width: 1.4px; */
  /* -webkit-text-stroke-color: #f1984b; */ 
    
}

.banner .container p {
    font-weight: 1000;
    margin-top: 10%;
    margin-left: 10px;
    font-size: 40px;
    width: 40%;
    background-color: #00000044;
}

.banner .container span {
    color: #c8864d;
    font-weight: bold;
   /* -webkit-text-stroke-width: 1.4px; */
  /* -webkit-text-stroke-color: white; */
}

.home h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #80350F;
}


/*Serviços*/
.home .services {
    padding: 10%;
    padding-top: 2%;
}

.home .services .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.home .services .container .card {
    background: linear-gradient(#c8864d98, 45%, #f6d4b78f);
    border: 1px solid #f4efef;
    border-radius: 5px;
    width: 18%;
}

.home .services .container .card:hover {
    background: linear-gradient(#c8864d, 55%, #f6d4b7);
    border: 3px solid #f4efefee;
    width: 20%;
    transition: 0.5s;
}

.home .services .container .card img {
    padding-top: 10%;
    width: 100px;
}

.home .services .container .card h4 {
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    color: #282d32;
}



/*Simulador*/
.home .simul {
    padding: 10%;
    padding-top: 2%;
    text-align: center;
    background-color: #f6d4b74a;
}

.home .simul h3 {
    font-weight: lighter; 
    font-size: larger;
    color: #371200;
}

.home .simul .container {
    width: 100%;
    
}

.home .simul .btn_simu {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #e7bb979a;
    font-weight: bold;
    font-size: medium;
    color: #383838;
}

.home .simul .btn_simu:hover {
    background-color: #df9a629a;
    transition: 0.80s;
}


/* Sobre nós */
.home .qsm{
    padding: 15%;
    margin-top: -2%;
    text-align: justify;
    color: #282d32;
}

.home .qsm .empresa{
    background-color: #e6c7a7;
    width: 100%;
    height: 560px;
    
}

.home .qsm .empresa img{
    margin-top: -100px;
    width: 100%;
    margin-bottom: -140px;
}

.home .qsm .empresa h2{
    text-align: center;
    color: #56260c;
}

.home .qsm .empresa p{
    padding-bottom: 10%;
    color: #56260c;
    font-size: medium;
    font-weight: bold;
    margin-top: -8%;
    padding: 9%;
}

.home .qsm .empresa b{
    color: #98512B;
}


/*Informações do projeto*/
.home .qsm .projeto {
    background: linear-gradient(#e6b48ae2, 60%, #DCB895);
}

.home .qsm .projeto .wwa {
    display: flex;
    justify-content: space-around;
}

.home .qsm .projeto .wwa img {
    width: 50%;
}

.home .qsm .projeto .text {
    width: 50%;
    text-align: justify;
    padding: 4%;
    color: #9f4311;
    font-weight: 600;
}

.home .qsm .projeto .text b{
    color: #561e00;
    font-weight: 600;
}

.home .qsm .projeto .text h3 {
    font-weight: bold;
    color: #56260c;
    text-decoration: underline;
}



/*Principios*/
.home .valores h1 {
    padding: 3%;
}

.home .valores .values h4 {
    text-align: center;
    color: #56260c;
}

.home .valores .values .vmv {
    display: flex;
    justify-content: space-around;
}

.home .valores .values .vmv .card {
    text-align: center;
    width: 90%;
    margin: 8px;
    border: 3px solid #f4efef;
    background-color: #ecb680ce;
}

.home .valores .values .vmv .card:hover {
    border: 3px solid #f4efef;
    background-color: #f0be8cc0;
    width: 100%;
    transition: 0.2s;
}

.home .valores .values .vmv .card img {
    width: 100%;
}

.home .valores .values .vmv .card p {
    text-align: justify;
    font-size: 15px;
    padding: 8px;
    font-weight: bold;
    color: #51301e;
}

.home .valores .values .vmv .card b {
    color: #aa5223;
}


/*Fale Conosco*/
.home .fale {
    display: grid;
    grid-template-columns: 20rem auto;
    font-size: small;
    padding: 12%;
    padding-top: 1%;
}

.home .fale .esquerda {
    background-color: #f2c1976a;
    color: #8e5c42;
    height: 100%;

}

.home .fale .esquerda h2 {
    text-align: center;
    text-decoration: wavy;
    color: #7d482c;
;
}

.home .fale .esquerda h4 {
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
}


.home .fale .esquerda img{
    width: 90%;
}

.home .fale .direita {
    text-align: center;
    width: 100%;
    background-color: #f2c1974f;
    padding: 5%;
}

.home .fale .direita h2 {
    text-align: center;
    text-decoration: wavy;
    color: #7d482c;
}

.home .fale .direita .info .nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8e5c42;
    font-weight: bold;
    font-size: medium;
    align-items: flex-start;
}

.home .fale .direita .info{
    text-align: start;
    width: 110%;
    margin-top: 10px;
}

.home .fale .direita .info .mensagem{
    background: #e6a56c8d;
    border: 1px solid #e6a56c8d;
    font-size: 12px;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 90%;
    height: 30px;
}

.home .fale .direita .info .mensagemB{
    background: #e6a56c8d;
    border: 1px solid #e6a56c8d;
    width: 90%;
    height: 80px;
    font-size: 12px;
    border-radius: 2px;
}

.home .fale .direita .info .btn_info{
    width: 91%;
    background: #98512B;
    border: 1px solid #98512B;
    color: #F2C197;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    transition: all 200ms linear;
    cursor: pointer;
}

.home .fale .direita .info .btn_info:hover{
    color: #ffffff;
    background: #80350F;
}

.home .fale .direita .info ::placeholder{
    font-family: poppins, sans-serif;
    color: #8e5c42;
}


/*HOME FOOTER*/
footer .home_footer{
    padding-top: 1%;
    position: absolute;
    width: 100%;
    height: 20%;
    border-top: #250f0431 solid 2px;
    background-color: #98512B;
    color: #F8DFC9;
    }

footer .home_footer {
    width: 100%;
    }

footer .home_footer p {
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

/*LOGIN FOOTER*/
footer .log_footer{
    position: absolute;
    width: 100%;
    height: 14.6%;
    border-top: #250f0431 solid 2px;
    background-color: #98512B;
    color: #F8DFC9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    }

footer .log_footer {
    width: 100%;
    }

footer .log_footer p {
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

/*DASH FOOTER*/
footer .dash_footer{
    position: absolute;
    width: 100%;
    height: 14.6%;
    border-top: #250f0431 solid 2px;
    background-color: #98512B;
    color: #F8DFC9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    }

footer .dash_footer {
    width: 100%;
    }

footer .dash_footer p {
    align-items: center;
    text-align: center;
    margin-top: 1%;
}

.loading-div{
    width: 50px;
    margin: auto;
    display: none;
}


/* FOOTER
.footer {
    margin: 0px;
    width: 100%;
    color: #56260c;
}

.footer div {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    height: 70px;
    background: linear-gradient(#f6d4b7, 80%, #c7a689);
}
 */
