/*Header*/
.header {
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    background-color: black;
    background: linear-gradient(#DF8F68, 15%, #CE7C50);
}

.header div {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.link {
    padding: 0px;
    padding-top: 25px;
    font-family: poppins, sans-serif;
}

.header div div a {
    /*Mudança de cor nos links do Header*/
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.header div div a:hover {
    /*Mudança de cor nos links do Header*/
    color: #860000;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.logo {
    height: 110px;
    margin: 0px;
    margin-top: 5px;
}



/*Footer*/
.footer {
    margin: 0px;
    width: 100%;
    border-top: #250F04 solid 2px;
    background-color: #98512B;
    color: #F8DFC9;
}

.footer div {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 2px;
}



/* Barra de navegação lateral das Dashboards */
.barraLateral {
    padding-top: 15px;
}

.barraLateral .botao {
    background-color: #9C2F20;
    border: 5px solid #860000;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.barraLateral h2 {
    font-weight: bold;
    text-align: center;
    color: #F2C197;
    font-size: 16px;
}



/*Tela de Cadastro*/
.cadastro {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: black;
    color: black;
    background-image: url(img/FundoCadastro.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cadastro .tela {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cadastro .cartaoSelecao {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 370px;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
}

.cadastro .cartaoSelecao h2 {
    color: #9C2F20;
    margin: 0px;
}

.cadastro .cartaoSelecao h3 {
    margin: 0px;
    margin-bottom: 15px;
    color: #9C2F20;
    font-size: 15px;
}

.cadastro .cartaoSelecao select {
    width: 200px;
    padding: 10px 0px;
    margin-bottom: 3px;
    border: 2px solid #80350F;
    background-color: #F6D4B7;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    color: rgb(97, 95, 95);
}

.cadastro .cartaoEmpresa {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 490px;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.cadastro .cartaoEmpresa button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9C2F20;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cadastro .cartaoFuncionario {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 580px;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.cartaoFuncionario button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9C2F20;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cadastro .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9C2F20;
    font-weight: bold;
    align-items: flex-start;
}

.cadastro .campo input {
    width: 200px;
    padding: 10px 0px;
    border: 2px solid #80350F;
    background-color: #F6D4B7;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.cadastro .campoNumero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9C2F20;
    font-weight: bold;
    align-items: flex-start;
}

.cadastro .campoNumero 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cadastro .campoNumero input {
    width: 200px;
    padding: 10px 0px;
    border: 2px solid #80350F;
    background-color: #F6D4B7;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}



/*Tela de Simulador*/
.simulador {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
    color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.simulador .calculadora {
    max-width: 600px;
    margin-top: 130px;
    padding: 20px;
    text-align: center;
}

.simulador .calculadora {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.simulador .calculadora h1 {
    color: #c92026;
}

.simulador .calculadora input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.simulador .calculadora button {
    background-color: #c92026;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.simulador .mensagem {
    max-width: 1200px;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.simulador .resultado {
    margin-top: 20px;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
    margin-left: 10px;
    padding: 20px;

}

.simulador .positivo {
    color: green
}

.simulador .negativo {
    color: red;
}



/* Tela das Dashboard */

.dashboard {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}

.dashboard .tela {
    display: grid;
    grid-template-columns: 15rem auto;
    width: 100%;
    font-size: small;
    padding: 0px;
}

/* Barra de Alertas Lateral das dashboards*/
.dashboard .lateral {
    background-color: #860000;
    height: 436px;
    margin-bottom: 0px;
}

.dashboard .lateral img {
    width: 73px;
    margin-right: 8px;
}

.dashboard .tituloAlerta {
    padding: 1px;
    color: black;
    border-bottom: 1px solid #F2C197;
}

.dashboard .textoAlerta {
    color: #f0eff5;
}

.dashboard .alerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    border-bottom: 1px solid #f0eff5;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
}

.dashboard .ultimoAlerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
}

.dashboard .alerta:hover {
    background-color: rgb(167, 54, 54);
    cursor: pointer;
}

.dashboard .botaoAlerta {
    text-decoration: none;
    color: #d5baa2;
}

/* Centro da tela de dashboards */
.dashboard .tituloPrincipal h1 {
    text-align: center;
    margin: 0px;
    height: 15px;
}

.dashboard .linha {
    justify-content: space-around;
    display: flex;
}

.dashboard .linha h2 {
    color: #fff;
    text-align: center;
}

.dashboard .card {
    grid-template-columns: 1fr 1fr;
    display: flex;
}

.dashboard .card1 {
    background-color: #9C2F20;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #860000;
}

.dashboard .card2 {
    background-color: #d8a721;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #bb9220;
}

.dashboard .card3 {
    background-color: #0d660a;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #135210;
}



/* Tela de Alertas */

.alerta {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
}

.alerta .tela {
    display: grid;
    grid-template-columns: 20rem auto;
}

.alerta h2 {
    text-align: center;
    color: #F2C197;
    font-size: 16px;
}


.alerta .grafico {
    display: flex;
    flex-direction: column;
    width: 810px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
}



/* Tela da Média*/
.media {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
}

.media .tela {
    display: grid;
    grid-template-columns: 20rem auto;
}

.media h2 {
    text-align: center;
    color: #F2C197;
    font-size: 16px;
}

.media .informacao {
    background-color: #8D431E;
    height: 50px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 36px;
    border-radius: 15px;
    border: 5px solid #80350F;
}

.media h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #e9c7a9;
    width: 950px;
}

.media .card3 {
    background-color: #9C2F20;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #860000;
}

.media .grafico {
    padding-right: 50px;
    padding-left: 50px;
    width: 423px;
}

.media .centro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



/* Tela da Temperatura */
.temperatura {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
}

.temperatura .tela {
    display: grid;
    grid-template-columns: 20rem auto;
}

.temperatura .tela h1 {
    background-color: #fbf5ee;
    width: 970px;
    text-align: center;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.temperatura .linha {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 22px;
}

.temperatura .grafico {
    width: 252px;
    padding-right: 80px;
}

.temperatura .grafico h2 {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 16px;
}



/* Tela da Umidade */
.umidade {
    margin: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
}

.umidade .tela {
    display: grid;
    grid-template-columns: 20rem auto;
}

.umidade .tela h1 {
    background-color: #fbf5ee;
    width: 970px;
    text-align: center;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.umidade .linha {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 22px;
}

.umidade .grafico {
    width: 252px;
    padding-right: 80px;
}

.umidade .grafico h2 {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 16px;
}



/* Tela Home */

.inicial {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: white;
    color: black;
}

.banner {
    font-family: poppins, sans-serif;
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url(IMG/Banners.png);
}

.banner .container p {
    margin-top: 10%;
    margin-left: 50px;
    font-size: 40px;
    width: 50%;
}

.banner .container span {
    color: #f78778;
    font-weight: bold;
    font-family: poppins, sans-serif;
}

.home h2 {
    text-align: center;
}

.home .services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home .services .container {
    display: flex;
    justify-content: space-around;
}

.home .card {
    width: 200px;
    text-align: center;
}

.home .card img {
    width: 120px;
}

.home .card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #80350F;
}

.home .meet{
    background-color: #f8f8f8;
}

.home .meet .wwa {
    display: flex;
    justify-content: space-around;
}

.home .meet .wwa img {
    width: 40%;
}

.home .meet .txt {
    width: 55%;
    text-align: justify;
    padding: 8px;
}

.home .meet.txt h3 {
    font-family: sans-serif;
    font-weight: bold;
}

.home .values h2 {
    text-align: center;
    color: #282d32;
}

.home .values {
    color: white;
    padding: 40px 10px;
}

.home .values .vmv {
    display: flex;
    justify-content: space-around;
}

.home .values .card {
    text-align: center;
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #361c1c;
}

.home .values .card h4 {
    font-size: 18px;
    color: white;
}

.home .values .card p {
    text-align: justify;
    margin: 12px;
    font-size: medium;
}

.sec-title-style1 .title {
    color: #98512B;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form {
    margin: 5%;
    display: block;
    background: #f2c1974f;
    padding: 100px 60px 80px;
    box-shadow: 0px 3px 8px 2px #8d431e40;
}

.contact-form .sec-title-style1 {
    padding-bottom: 40px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    background: #e6a56c8d;
    border: 1px solid #eeeeee;
    width: 95%;
    height: 55px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form form textarea {
    height: 130px;
    padding-top: 14px;
}

.contact-form form button {
    width: 98%;
    background: #98512B;
    border: 1px solid #98512B;
    color: #F2C197;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    transition: all 200ms linear;
    cursor: pointer;
}

.contact-form form button:hover {
    color: #ffffff;
    background: #80350F;
}