/*Header*/
.header {
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    background-color: black;
    background: linear-gradient(#DF8F68, 15%, #CE7C50);
}

.header div {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.link {
    padding: 0px;
    padding-top: 25px;
    font-family: poppins, sans-serif;
}

.header div div a { /*Mudança de cor nos links do Header*/
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.header div div a:hover { /*Mudança de cor nos links do Header*/
    color: #860000;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

.logo {
    height: 110px;
    margin: 0px;
    margin-top: 5px;
}



/*Footer*/
.footer {
    margin: 0px;
    width: 100%;
    border-top: #250F04 solid 2px;
    background-color: #98512B;
    color: #F8DFC9;
}

.footer div {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 2px;
}



/*Tela de Cadastro*/
.cadastro {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: black;
    color: black;
    background-image: url(img/FundoCadastro.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cadastro .tela {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cadastro .cartaoSelecao {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 370px;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
}

.cadastro .cartaoSelecao h2 {
    color: #9C2F20;
    margin: 0px;
}

.cadastro .cartaoSelecao h3 {
    margin: 0px;
    margin-bottom: 15px;
    color: #9C2F20;
    font-size: 15px;
}

.cadastro .cartaoSelecao select {
    width: 200px;
    padding: 10px 0px;
    margin-bottom: 3px;
    border: 2px solid #80350F;
    background-color: #F6D4B7;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    color: rgb(97, 95, 95);
}

.cadastro .cartaoEmpresa {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 490px;
    width: 370px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.cadastro .cartaoEmpresa button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9C2F20;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cadastro .cartaoFuncionario {
    background-color: #e6a56ccd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 580px;
    width: 370px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.cartaoFuncionario button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9C2F20;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cadastro .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9C2F20;
    font-weight: bold;
    align-items: flex-start;
}

.cadastro .campo input {
    width: 200px;
    padding: 10px 0px;
    border: 2px solid #80350F;
    background-color: #F6D4B7;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}



/*Tela de Simulador*/
.simulador {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    background-color: white;
    color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.simulador .calculadora {
    max-width: 600px;
    margin-top: 130px;
    padding: 20px;
    text-align: center;
}

.simulador .calculadora {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.simulador .calculadora h1 {
    color: #c92026;
}

.simulador .calculadora input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.simulador .calculadora button {
    background-color: #c92026;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.simulador .mensagem {
    max-width: 1200px;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.simulador .resultado {
    margin-top: 20px;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
    margin-left: 10px;
    padding: 20px;

}

.simulador .positivo {
    color: green
}

.simulador .negativo {
    color: red;
}



/* Tela das Dashboard */

.dashboard {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}

.dashboard .tela {
    display: grid;
    grid-template-columns: 15rem auto;
    width: 100%;
    font-size: small;
    padding: 0px;
}

/* Barra de Alertas Lateral das dashboards*/
.dashboard .lateral {
    background-color: #860000;
    height: 436px;
    margin-bottom: 0px;
}

.dashboard .lateral img {
    width: 73px;
    margin-right: 8px;
}

.dashboard .tituloAlerta {
    padding: 1px;
    color: black;
    border-bottom: 1px solid #F2C197;
}

.dashboard .textoAlerta{
    color: #f0eff5;
}

.dashboard .alerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    border-bottom: 1px solid #f0eff5;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
}

.dashboard .ultimoAlerta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    border-top: 1px solid #f0eff5;
    transition: all 300ms ease;
}

.dashboard .alerta:hover {
    background-color: rgb(167, 54, 54);
    cursor: pointer;
}

.dashboard .botaoAlerta {
    text-decoration: none; 
    color: #d5baa2;
}

/* Centro da tela de dashboards */
.dashboard .tituloPrincipal h1 {
    text-align: center;
    margin: 0px;
    height: 15px;
}

.dashboard .linha {
    justify-content: space-around;
    display: flex;
}

.dashboard .linha h2 {
    color: #fff;
    text-align: center;
}

.dashboard .card {
    grid-template-columns: 1fr 1fr;
    display: flex;
}

.dashboard .card1 {
    background-color: #9C2F20;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #860000;
}

.dashboard .card2 {
    background-color: #d8a721;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #bb9220;
}

.dashboard .card3 {
    background-color: #0d660a;
    width: 100%;
    height: 100%;
    margin: 3%;
    border-radius: 15px;
    border: 5px solid #135210;
}